{% extends "base.html" %}
{% block content %}
<style type="text/css">
   img {
    max-width: 80%;
    max-height: 70%;
   }

   h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
   }

   p {
    font-size: 18px;
    text-align: justify;
   }
</style>
    <div class="container">
        <div class="text-center">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                <p>Привет, меня зовут Елизавета и я являюсь мастером бровистом на протяжении 3х лет.
                За это время у меня накопилось более 200 довольных клиентов.</p>
                <p>С недавнего времени я ещё обучаю девушек нашей прекрасной профессии с 0.</p>
                <p>Я работаю как в натуральной технике, так и в графичной, выбор остается за клиентом.
                Работаю только качественными материалами.
                Имею много лайфхаков и фишек в работе, которые помогают создавать идеальные брови.</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='about_me/photo_1.jpg') }}">
            </div>
        </div>
    </div>
{% endblock %}