{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}
    <div style="background-image: url('https://lisa.ru/images/cache/2019/5/23/widen_960_crop_1000_667_0_0_q90_547282_b5c582b83b.webp'); background-size: cover; background-repeat: no-repeat; width: 1110px; height: 750px"> 
    </div>
  

    <div class="p-4 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-4">
          <h1 class="display-4 fw-bold">Акция!</h1>
          <p class="col-md-8 fs-4">Зарегистрируйтесь и получите скидку 15% на первую процедуру.</p>
          <a class="btn btn-primary" href="{{ url_for('register') }}" role="button">Зарегистрироваться</a>
        </div>
      </div>
{% endblock %}